<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de novos profissionais</h1>
    <form action="/medprofiles/store" method="get">
        <label for="full_name">Nome do profissional</label>
        <input type="text" name="full_name">
        <label for="professional_registration">Registro Profissional</label>
        <input type="text" name="professional_registration">
        <input type="submit" value="enviar">
    </form>
</body>
</html>