DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,[::1],*
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_SQLITE_PATH=/app/data/db.sqlite3
DJANGO_TRUSTED_PROXY_IPS=
DJANGO_TRUST_PROXY_HEADERS=0
