{% extends "base.html" %}

{% block content %}
     <a href="{% url 'inst.create' %}" class="btn create">Nova Empresa</a>
     <a href="{% url 'inst.adcreate' %}" class="btn create">Novo Endereço Físico</a>
{% for institution in dados %}

  <div class="container">
    <div class="custom-card">
        <div class="card-image img">
            <img src="{{institution.logo}}" alt="Logo">
        </div>
        <div class="card-content">
            <h3 class="card-title">{{ institution.name }}</h3>
            <span class="card-subtitle">{{ institution.site }}</span>
            <p class="card-text">{{ institution.email }}</p>
            
            <div class="card-actions">
                <a href="{% url 'inst.edit' institution.id %}" class="btn edit">Editar</a>
                <a href="{% url 'inst.delete' institution.id %}" class="btn delete">Deletar</a>
            </div>
        </div>
    </div>
    </div>
{% endfor %}

{% endblock%}
    





